@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  /* Enable smooth scrolling */
  scroll-behavior: smooth;
  font-size: 1vh;
}

body { /* Main Body */
  font-family: 'Lato', sans-serif;
  /* Setting up the grid format of the website */
  display: grid;
  grid-template-columns: 25rem 2rem 1fr 6rem;
  grid-template-rows: 10rem 5rem 2rem 0 1fr;

  background: red; /* CHANGE THIS TO WHITE!!!!! (Red to see flaws) */
  margin: 0;
  font-color: #2d2f33;
}

a {
  text-decoration: none;
  color: #2d2f33;
}

a:hover {
  opacity: 0.5;
}

/*
Setting up the main template of the website 
*/

.top-left-logo {
  /* Placing where the section sits on the website */
  grid-column: 1/2;
  grid-row: 1/3;
  
  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  background: #cd3e3f;
  border-right: .75rem solid #2d2f33;
}

.vertical-border {
  /* Placing where the section sits on the website */
  grid-column: 2/3;
  grid-row: 1/6;
  
  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  background: white;
}

.title {
  /* Placing where the section sits on the website */
  grid-column: 3/4;
  grid-row: 1/2;
  
  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  padding: 0 0.25rem;
  background: white;
  font-weight: bold;
  font-size: 8rem;
  text-align: left;
}

.social-media {
  /** Placing where the section sits on the website */
  grid-column: 4/5;
  grid-row: 1/3;
  
  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  background: white;
  text-align: left;
  padding-top: 2rem;
}

.social-media a {
  display: block;
  font-size: 5rem;
  color: gray;
  margin: 1rem 0;
}

.subtitle {
  /* Placing where the section sits on the website */
  grid-column: 3/4;
  grid-row: 2/3;

  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10vh;
  
  background: white;
  font-size: 3rem;
}

.subtitle p {
  padding-top: 1.5rem;
  margin: 0;
}

.p-shape {
  background: #cd3e3f;
  height: 5vh;
  width: 7rem;
  float: left;
  border-radius: 0 2.5rem 0 0;
  border: .75rem solid #2d2f33;
  margin-right: 1rem;
}

.horizontal-border {
  /* Placing where the section sits on the website */
  grid-column: 1/5;
  grid-row: 3/4;
  
  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 15vh;

  background: white;
}

.v-rectangle {
  float: top;
  width: 100%;
  height: .75rem;
  background-color: #2d2f33;
  position: relative;
}

.v-outer {
  float: right;
  width: 0;
  height: 0;
  border-top: 9.31rem solid #2d2f33;
  border-left: 9.31rem solid transparent;
  z-index: 1;
  position: relative;
}

.v-inner {
  float: right;
  margin-right: 0.75rem;
  width: 0;
  height: 0;
  border-top: 7.5rem solid #cd3e3f;
  border-left: 7.5rem solid transparent;
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 1.8rem;
}

.side-menu {
  /* Placing where the section sits on the website */
  grid-column: 1/2;
  grid-row: 4/6;
  
  /* Make the section "sticky" (fixed) */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 17vh;
  height: 83vh;
  align-self: start;
  
  background: white;
  text-align: right;
  font-size: .5rem;
}

.top-menu {
  /* Placing where the section sits on the website */
  grid-column: 3/5;
  grid-row: 4/5;

  display: none;
}

.nav-bar {
  padding-top: 10rem;
  margin: 0;
}

.nav-bar a {
  display: block;
  padding: 3rem 2rem 3rem 0;
  font-size: 3rem;
  margin: 0;
}

.nav-bar ul {
  list-style: none;
  padding-left: 0;
}

/* Changing the color of side menu text when hovering over it */
.nav-bar a:hover {
  opacity: 1;
  background: #cd3e3f;
  color: white;
}

.focused-nav a {
  color: #cd3e3f;
}

.sub-nav a {
  font-size: 2.5rem;
  padding: 1rem 5rem 1rem 0;
  color: #cd3e3f;
}

.arrow {
  font-size: 2rem;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -17vh;
}

.main-section {
  /* Placing where the section sits on the website */
  grid-column: 3/5;
  grid-row: 5/6;

  background: white;
  border-left: .75rem solid #2d2f33;
}

section {
  height: 83vh;
  padding: 0;
  margin-bottom: 5vh;
  font-size: 5rem;
  background: #292A30;
  color: white;
}

section h2 {
  letter-spacing: 1rem;
  margin-top: 0;
}

section p {
  font-size: 3rem;
  letter-spacing: 0;
  margin-top: 0;
}

/* 
Media Query for any device in Portait Mode (Mobile) 
*/

@media only screen and (orientation: portrait) {

  html {
    /* Changing font size dependency on width of screen, rather than height */
    font-size: 1vw;
  }

  body {
    /* Changing grid format to better fit portrait mode */
    grid-template-columns: 10rem 2rem 1fr 5rem;
    grid-template-rows: 12rem 4rem 2rem 9rem 1fr;
  }

  .title {
    font-size: 10rem;
  }

  .social-media {
    padding-top: 2rem;
  }

  .social-media a {
    font-size: 4rem;
  }

  .subtitle {
    /* Readjust fixed position of bar */
    top: 12rem;
    
    font-size: 3rem;
  }

  .subtitle p {
    padding-top: 0.8rem;
    margin: 0;
  }

  .p-shape {
    height: 3rem;
    width: 5rem;
    border-radius: 0 2.5rem 0 0;
  }

  .horizontal-border {
    /* Readjust fixed position of bar */
    top: 16rem;
  }

  .v-outer {
    border-top: 6.81rem solid #2d2f33;
    border-left: 6.81rem solid transparent;
  }

  .v-inner {
    border-top: 5rem solid #cd3e3f;
    border-left: 5rem solid transparent;
    margin-bottom: 1.8rem;
  }

  .side-menu {
    /* Readjust fixed position of bar */
    top: 18rem;
    height: calc(100vh - 18rem);
    align-self: start;
  }

  .side-menu .nav-bar{
    display: none;
  }

  .top-menu {
    /* Make the section "sticky" (fixed) */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 18rem;

    display: inline;
    background: white;
    text-align: left;
    padding-top: 1rem;
    padding-left: 3rem;
    border-top: .75rem solid #2d2f33;
    border-left: .75rem solid #2d2f33;
  }

  .top-menu .nav-bar {
    padding-top: 0;
    margin: 0;
  }

  .top-menu .nav-bar a {
    display: inline;
    padding: 1rem 0;
    font-size: 2.5rem;
    margin: 0;
  }

/* Changing the color of side menu text when hovering over it */
  .nav-bar a:hover {
    opacity: 0.3;
    background: white;
    color: #2d2f33;
  }

  .nav-bar ul li{
    padding: 1rem;
    display: inline;
  }

  a.anchor {
    top: -27rem;
  }

  section {
    height: calc(100vh - 27rem);
    padding: 0;
    margin-bottom: 5vh;
    font-size: 5rem;
  }

}

/* The actual content of the website */

.small-button {
  height: auto;
  width: fit-content;
  border: 0.5rem solid white;
  padding: 1rem 3rem;
  background: #cd3e3f;
  letter-spacing: 0.5rem;
}

.small-button a {
  color: white;
  font-size: 2rem;
}

.big-button {
  height: auto;
  width: 30rem;
  border: 0.5rem solid #2d2f33;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 10%;
  padding: auto;
  background: #cd3e3f;
}

.big-button a {
  text-align: center;
}

.red-text {
  color: #cd3e3f;
}

/* "About Me" Page on the Home Page */

.about-me {
  /* Set up the grid */
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
}

.about-me-image {
  /* Placing where the section sits on the website */
  grid-column: 1/2;
  grid-row: 1/2;
  
  background-image: url("img/DRAW100_Final_Balanced.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me-text {
  /* Placing where the section sits on the website */
  grid-column: 2/3;
  grid-row: 1/2;

  text-align: center;
  padding: 10rem 5rem;
}

/* Sub "About Me" Page 1 step from Home Page */

.sub-about-me {
  margin: 0;
  padding: 0;
}

/* "Game Projects" Page on the Home Page */

.game-projects {
  background-image: url("https://public.potaufeu.asahi.com/8ade-p/picture/22121024/94e7d5c10ff8ba2975c0c71e5cb29aeb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-projects-text {
  text-align: center;
  margin: 0 20%;
  padding: 0 5%;
  background-color: #2d2f3350;
  height: 100%;
  max-height: 100%;
}

/* Sub "Game Projects" Page 1 step from Home Page */

.sub-game-projects {
  /* Set up the grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem 1fr;
  margin-bottom: 0;
}

.sub-game-projects-title {
  /* Placing where the section sits on the website */
  grid-column: 1/2;
  grid-row: 1/2;

  text-align: left;
  margin: 5rem 0;
  padding: 0 5rem;
  background: #cd3e3f;
  vertical-align: middle;
}

.sub-game-projects-title p {
  font-size: 8rem;
  font-weight: bold;
}

.game-images-grid {
  /* Placing where the section sits within the sub-game-projects main grid */
  grid-column: 1/2;
  grid-row: 2/3;

  /* Set up the grid */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40rem;
  grid-gap: 5rem;
  padding: 2rem 5rem;
}

.game-images-grid img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.game-icon {
  text-align: center;
}

.writing {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
}

.writing-title {
  /* Placing where the section sits on the website */
  grid-column: 1/2;
  grid-row: 1/2;

  text-align: right;
  margin: 10rem 0 10rem 10rem;
  border: 1rem solid white;
  padding: 2rem 5rem;
}

.writing-text {
  /* Placing where the section sits on the website */
  grid-column: 2/32;
  grid-row: 1/2;

  text-align: left;
  margin: 10rem 0 0 5rem;
}

.concept-art {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 1fr;
}

.concept-art-text {
  /* Placing where the section sits on the website */
  grid-column: 1/2;
  grid-row: 1/2;

  text-align: right;
  margin: 5rem 5rem 0 0;
}

.concept-art-image {
  /* Placing where the section sits on the website */
  grid-column: 2/3;
  grid-row: 1/2;

  text-align: left;
}

.contact-me {
  display: grid;
  grid-template-columns: 20% 20% 1fr 20%;
  grid-template-rows: 25% 1fr;
  margin-bottom: 0;
}

.contact-me-title {
  /* Placing where the section sits on the website */
  grid-column: 2/4;
  grid-row: 1/2;

  text-align: center;
  padding: 0;
}

.contact-me-title h2 {
  border: 1rem solid white;
  padding: 2rem 5rem;
  margin: 3rem 0rem;
}

.contact-me-text {
  /* Placing where the section sits on the website */
  grid-column: 2/3;
  grid-row: 2/3;

  text-align: left;
  padding: 0;
}

.contact-me-fill {
  /* Placing where the section sits on the website */
  grid-column: 3/4;
  grid-row: 2/3;

}

.fill-in-text { /* Style of the input text boxes */
  width: 100%;
}

/* 
Media Query for any device in Portait Mode (Mobile) BUT FOR SECTION CONTENT
*/

@media only screen and (orientation: portrait) {

  .about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 1fr;
  }

  .about-me-image {
    /* Placing where the section sits on the website */
    grid-column: 1/2;
    grid-row: 1/2;
    
    background-size: 100% auto;
    background-position: 50% 15%;
  }

  .about-me-text {
    /* Placing where the section sits on the website */
    grid-column: 1/2;
    grid-row: 2/3;

  }

  .game-images-grid {
    /* Set up the grid */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30rem;
    grid-gap: 5rem;
    padding: 2rem 5rem;
  }

}